doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/three.min.js')
    script(src="http://threejs.org/examples/js/renderers/SVGRenderer.js")
    script(src="http://threejs.org/examples/js/renderers/Projector.js")
  body
    block content
    script(src='/javascripts/main.js')
